@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký tài khoản</title>
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<body>
    <div class="auth-container">
        <div class="auth-box">
            <div class="auth-header">
                <h2>Đăng ký tài khoản</h2>
            </div>
			@if (TempData["Message"] != null)
			{
				var type = TempData["MessageType"]?.ToString() ?? "info";
				<div class="alert alert-@type" role="alert">
					@TempData["Message"]
				</div>
			}
            <form asp-action="Register" asp-controller="Account" method="post" class="auth-form">
               

                @* <div asp-validation-summary="All" class="text-danger"></div> *@
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="btn-auth">Đăng ký</button>
                <div class="auth-switch">
                    Đã có tài khoản? <a asp-action="Index" asp-controller="Account">Đăng nhập</a>
                </div>
            </form>
        </div>
    </div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>
